video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2
}

.navegador {
    height: 55px;
    width: 100%;
    background-color: rgb(0, 0, 46);

}

.navegador .botonesDerechos{
    float: right;
}

.header {
    background-color: rgba(13, 0, 44, 0.603);
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
}

.header .fondo {
    height: 400px;
    width: 100%;
    display: block;
}

.header .perfil {
    position: relative;
    z-index: 2;
    margin-top: -100px;
    height: 200px;
    width: 200px;
    margin-left: 30px;
    border-radius: 100px;
}

.header .detalle {
    padding: 30px;
}

.cards-wrapper .card{
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
    background-color: rgba(13, 0, 44, 0.603);
}
